{% extends "base.html" %}
{% block content %}









<section class="founder-page">

  <!-- Profile Image -->

  <div class=" premium-photo">
<img src="{{ url_for('static', filename='images/ki.jpeg') }}" alt="Ramya - Founder CareBridge">

  </div>


  <!-- Name + Role -->
  <h1>U D RAMYA</h1>
  <h3>Founder & System Developer</h3>

  <!-- Tagline -->
  <p class="tagline">
    Building Smart Food Safety Systems using IoT Monitoring
  </p>

  <!-- Description -->
  <div class="founder-description">
    <p>
      Creator of CareBridge  — a technology-driven platform that
      connects food donors and orphanages through real-time monitoring.
    
    </p>
  </div>

  <!-- Detailed Info (Visiting Card Style) -->
  <div class="details-grid">

    <div class="cards">
      <span>📧 Email</span>
      <p>carebridge.ap@gmail.com</p>
    </div>

    <div class="cards">
      <span>📍 Location</span>
      <p>Andhra Pradesh, India</p>
    </div>

    <div class="cards">
      <span>🕘 Availability</span>
      <p>9 AM — 6 PM</p>
    </div>

    <div class="cards">
      <span>🔬 Specialization</span>
      <p>IoT Monitoring • Embedded Systems • Food Safety</p>
    </div>

  </div>

  <!-- Social Buttons -->

<div class="contact-container">

<h2>Have Any Query?</h2>

<p class="contact-sub">
Enter your details and we will respond shortly.
</p>

<form action="/send_query" method="POST">

<input type="text" name="name" placeholder="Full Name" required>

<input type="text" name="phone" placeholder="Mobile Number" required>

<input type="email" name="email" placeholder="Email Address" required>

<textarea name="message" placeholder="Write your message"></textarea>

<button type="submit">Submit</button>

</form>

</div>

</section>



<section class="founder-ending">

  <div class="ending-content">
    <h2>Building Technology With Purpose</h2>

    <p>
      CareBridge  is a 
      conceptualized technology-driven platform to connect donors with institutions while ensuring food safety.
    </p>

    <p>
      Designed and developed by <strong>U D RAMYA</strong>,
      Founder & System Developer.
    </p>

    <div class="ending-line"></div>

    <p class="ending-tag">
      Connecting donors • Protecting food • Supporting lives
    </p>

  </div>

</section>





{% endblock %}